
<ion-view view-title="Lights" class="light-view-container text-center">
  <ion-content class="background-style">
  <div class="dark-background"></div>


    <div class="list list-inset">
        <div class="light-info-container" ng-repeat="light in allLights track by $index">
            <div class="item item-dark">

                <div class="row">
                    <div class="col fix-text-left text-color-cat" >{{ light.name }}</div>

                    <div class="col">
                        off
                        <label class="toggle toggle-balanced">
                            <input type="checkbox" ng-model="light.state.on" ng-click="toggleOn($index + 1, light)">
                            <div class="track">
                                <div class="handle"></div>
                            </div>
                        </label>
                        on
                    </div>

                </div>
                <br />

                <div ng-show="true">
                    <div class="list">
                        <div class="row">
                            <div class="col fix-text-left text-color-cat">Brightness: {{ light.state.bri }}</div>
                            <div class="item item-royal-bg range range-balanced">
                                <i class="icon ion-ios7-sunny-outline"></i>
                                <input type="range" name="brightness" min="1" max="254"
                                    ng-model="light.state.bri"
                                    ng-change='adjustSlider($index + 1, light, "bri")'
                                    ng-model-options="{ 'debounce': 130 }">
                                <i class="icon ion-ios7-sunny"></i>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col fix-text-left text-color-cat">Hue: {{ light.state.hue }}</div>
                            <div class="item range range-balanced">
                                <i class="icon ion-ios7-sunny-outline"></i>
                                <input type="range" name="volume" min="0" max="65535"
                                    ng-model="light.state.hue"
                                    ng-change='adjustSlider($index + 1, light, "hue")'
                                    ng-model-options="{ 'debounce': 130 }">
                                <i class="icon ion-ios7-sunny"></i>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col fix-text-left text-color-cat">Saturation: {{ light.state.sat }}</div>
                            <div class="item range range-balanced">
                                <i class="icon ion-ios7-sunny-outline"></i>
                                <input type="range" name="volume" min="0" max="255"
                                    ng-model="light.state.sat"
                                    ng-change='adjustSlider($index + 1, light, "sat")'
                                    ng-model-options="{ 'debounce': 130 }">
                                <i class="icon ion-ios7-sunny"></i>
                            </div>
                        </div>
                    </div>
                    <br />

                    <div class="list">
                        <label class="item item-input item-select">
                            <div class="input-label">
                                Effect
                            </div>
                            <select ng-model="selectedEffect.value"
                                ng-options="effect.name for effect in effects"
                                ng-change="effectSelect($index + 1, selectedEffect.value)">
                            </select>
                        </label>
                    </div>
                    
                    <div class="row">
                        <div class="col fix-text-left text-color-cat">Color Loop</div>

                        <div class="col">
                            off
                            <label class="toggle toggle-balanced">
                                <input type="checkbox"
                                    ng-model="colorLoop.active" ng-click="toggleLoop($index + 1, colorLoop.active)">
                                <div class="track">
                                    <div class="handle"></div>
                                </div>
                            </label>
                            on
                        </div>   
                    </div>

                </div>
            </div>

        </div>
    </div>

  </ion-content>
</ion-view>